/* variables */
:root {
--rouge: hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);
--Very-Dark-Blue: hsl(234, 12%, 34%);
--Grayish-Blue: hsl(229, 6%, 66%);
--Very-Light-Gray: hsl(0, 0%, 98%);
}
/* end variables */
body {
    background-color: var(--Very-Light-Gray);
}
h2:first-child {
    color: var(--Grayish-Blue);
    text-align: center;
    font-size: 28px;
    margin-bottom: 0;
}
h2:nth-child(2) {
    text-align: center;
    font-size: 28px;
    margin: 0;
    letter-spacing: 1.5px;

}
h2 + p {
    padding-top: 20px;
    margin: 0 auto;
    text-align: center;
    color: red;
    width: 480px;
    max-width: 100%;
    color: var(--Grayish-Blue);
    padding-bottom: 50px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 20px;
}
.container .card {
    background-color: white;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 40px;
    border-radius: 5px;
    border-top: 4px solid;
    box-shadow: 0 0 10px var(--Grayish-Blue);
}
@media (max-width: 375px) {
    .container {
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
    .container .card {
        width: 290px;
    }
}
.container .card .icon {
    align-self: flex-end;
}
.container .card:first-child {
    border-top-color: var(--rouge);
}
.container .card:nth-child(2) {
    border-top-color: var(--Cyan);
}
.container .card:nth-child(3) {
    border-top-color: var(--Grayish-Blue);
}
.container .card:last-child {
    border-top-color: var(--Blue);
}
@media (min-width: 900px) {
    .container {
        position: relative;
        height: calc(100vh - 201px);
    }
    .container .card {
        position: absolute;
    }
    .container .card:first-child {
        left: 50%;
        top: -20px;
        transform: translateX(-50%);
    }
    .container .card:nth-child(2) {
        top: 100px;
    }
    .container .card:nth-child(3) {
        right: 0;
        top: 100px;
    }
    .container .card:last-child {
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
    }
}