/* variables */
:root {
--rouge: hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);
--Very-Dark-Blue: hsl(234, 12%, 34%);
--Grayish-Blue: hsl(229, 6%, 66%);
--Very-Light-Gray: hsl(0, 0%, 98%);
}
/* end variables */
body {
    background-color: var(--Very-Light-Gray);
}
.conatiner {

}
.container .card {
    background-color: white;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 40px;
    border-radius: 5px;
    border-top: 4px solid;
}
.container .card .icon {
    align-self: flex-end;
}
.container .card:first-child {
    border-top-color: var(--rouge);
}
.container .card:nth-child(2) {
    border-top-color: var(--Cyan);
}
.container .card:nth-child(3) {
    border-top-color: var(--Grayish-Blue);
}
.container .card:last-child {
    border-top-color: var(--Blue);
}